<!-- /partials/last-minutes.html -->
<div class="last-minutes-actions">
  <a href="../html/reserveren.html#kalender" class="reserveer-button">Reserveer nu</a>
  <p>of</p>
  <a href="https://wa.me/31642738357?text=Hallo,%20ik%20heb%20een%20vraag%20over%20de%20stacaravan%20in%20Diepenheim" class="whatsapp-button">
    💬 Stel een vraag via WhatsApp
  </a>
</div>

<section class="aside-card last-minutes">
  <h3>Nu beschikbaar:</h3>
  <ul>
    <li>Paasweekend 3-6 april: NU VOOR MAAR 250 EURO INCL. TOERISTENBELASTING</li>
    <li>1e weekend van de meivakantie: 250 euro excl. toeristenbelasting</li>
    <li>1 week in de zomervakantie (in overleg) -> mail of app ons hierover</li>
    <li>Vrijwel alle weekenden en weken tussen de vakanties en feestdagen nog vrij!</li>
  </ul>
</section>

